[submodule "system"]
	path = libs/system
	url =  git@github.com:boostorg/system.git
	fetchRecurseSubmodules = on-demand
[submodule "math"]
	path = libs/math
	url =  git@github.com:boostorg/math.git
	fetchRecurseSubmodules = on-demand
[submodule "smart_ptr"]
	path = libs/smart_ptr
	url =  git@github.com:boostorg/smart_ptr.git
	fetchRecurseSubmodules = on-demand
[submodule "algorithm"]
	path = libs/algorithm
	url =  git@github.com:boostorg/algorithm.git
	fetchRecurseSubmodules = on-demand
[submodule "concept_check"]
	path = libs/concept_check
	url =  git@github.com:boostorg/concept_check.git
	fetchRecurseSubmodules = on-demand
[submodule "functional"]
	path = libs/functional
	url =  git@github.com:boostorg/functional.git
	fetchRecurseSubmodules = on-demand
[submodule "config"]
	path = libs/config
	url =  git@github.com:boostorg/config.git
	fetchRecurseSubmodules = on-demand
[submodule "io"]
	path = libs/io
	url =  git@github.com:boostorg/io.git
	fetchRecurseSubmodules = on-demand
[submodule "preprocessor"]
	path = libs/preprocessor
	url =  git@github.com:boostorg/preprocessor.git
	fetchRecurseSubmodules = on-demand
[submodule "format"]
	path = libs/format
	url =  git@github.com:boostorg/format.git
	fetchRecurseSubmodules = on-demand
[submodule "integer"]
	path = libs/integer
	url =  git@github.com:boostorg/integer.git
	fetchRecurseSubmodules = on-demand
[submodule "tokenizer"]
	path = libs/tokenizer
	url =  git@github.com:boostorg/tokenizer.git
	fetchRecurseSubmodules = on-demand
[submodule "random"]
	path = libs/random
	url =  git@github.com:boostorg/random.git
	fetchRecurseSubmodules = on-demand
[submodule "serialization"]
	path = libs/serialization
	url =  git@github.com:boostorg/serialization.git
	fetchRecurseSubmodules = on-demand
[submodule "test"]
	path = libs/test
	url =  git@github.com:boostorg/test.git
	fetchRecurseSubmodules = on-demand
[submodule "date_time"]
	path = libs/date_time
	url =  git@github.com:boostorg/date_time.git
	fetchRecurseSubmodules = on-demand
[submodule "numeric_conversion"]
	path = libs/numeric/conversion
	url =  git@github.com:boostorg/numeric_conversion.git
	fetchRecurseSubmodules = on-demand
[submodule "mpl"]
	path = libs/mpl
	url =  git@github.com:boostorg/mpl.git
	fetchRecurseSubmodules = on-demand
[submodule "tuple"]
	path = libs/tuple
	url =  git@github.com:boostorg/tuple.git
	fetchRecurseSubmodules = on-demand
[submodule "utility"]
	path = libs/utility
	url =  git@github.com:boostorg/utility.git
	fetchRecurseSubmodules = on-demand
[submodule "filesystem"]
	path = libs/filesystem
	url =  git@github.com:boostorg/filesystem.git
	fetchRecurseSubmodules = on-demand
[submodule "function"]
	path = libs/function
	url =  git@github.com:boostorg/function.git
	fetchRecurseSubmodules = on-demand
[submodule "conversion"]
	path = libs/conversion
	url =  git@github.com:boostorg/conversion.git
	fetchRecurseSubmodules = on-demand
[submodule "optional"]
	path = libs/optional
	url =  git@github.com:boostorg/optional.git
	fetchRecurseSubmodules = on-demand
[submodule "property_tree"]
	path = libs/property_tree
	url =  git@github.com:boostorg/property_tree.git
	fetchRecurseSubmodules = on-demand
[submodule "bimap"]
	path = libs/bimap
	url =  git@github.com:boostorg/bimap.git
	fetchRecurseSubmodules = on-demand
[submodule "variant"]
	path = libs/variant
	url =  git@github.com:boostorg/variant.git
	fetchRecurseSubmodules = on-demand
[submodule "array"]
	path = libs/array
	url =  git@github.com:boostorg/array.git
	fetchRecurseSubmodules = on-demand
[submodule "iostreams"]
	path = libs/iostreams
	url =  git@github.com:boostorg/iostreams.git
	fetchRecurseSubmodules = on-demand
[submodule "multi_index"]
	path = libs/multi_index
	url =  git@github.com:boostorg/multi_index.git
	fetchRecurseSubmodules = on-demand
[submodule "bcp"]
	path = tools/bcp
	url =  git@github.com:boostorg/bcp.git
	fetchRecurseSubmodules = on-demand
[submodule "ptr_container"]
	path = libs/ptr_container
	url =  git@github.com:boostorg/ptr_container.git
	fetchRecurseSubmodules = on-demand
[submodule "statechart"]
	path = libs/statechart
	url =  git@github.com:boostorg/statechart.git
	fetchRecurseSubmodules = on-demand
[submodule "static_assert"]
	path = libs/static_assert
	url =  git@github.com:boostorg/static_assert.git
	fetchRecurseSubmodules = on-demand
[submodule "range"]
	path = libs/range
	url =  git@github.com:boostorg/range.git
	fetchRecurseSubmodules = on-demand
[submodule "signals"]
	path = libs/signals
	url =  git@github.com:boostorg/signals.git
	fetchRecurseSubmodules = on-demand
[submodule "rational"]
	path = libs/rational
	url =  git@github.com:boostorg/rational.git
	fetchRecurseSubmodules = on-demand
[submodule "tr1"]
	path = libs/tr1
	url =  git@github.com:boostorg/tr1.git
	fetchRecurseSubmodules = on-demand
[submodule "iterator"]
	path = libs/iterator
	url =  git@github.com:boostorg/iterator.git
	fetchRecurseSubmodules = on-demand
[submodule "detail"]
	path = libs/detail
	url =  git@github.com:boostorg/detail.git
	fetchRecurseSubmodules = on-demand
[submodule "type_traits"]
	path = libs/type_traits
	url =  git@github.com:boostorg/type_traits.git
	fetchRecurseSubmodules = on-demand
[submodule "bind"]
	path = libs/bind
	url =  git@github.com:boostorg/bind.git
	fetchRecurseSubmodules = on-demand
[submodule "uuid"]
	path = libs/uuid
	url =  git@github.com:boostorg/uuid.git
	fetchRecurseSubmodules = on-demand
[submodule "unordered"]
	path = libs/unordered
	url =  git@github.com:boostorg/unordered.git
	fetchRecurseSubmodules = on-demand
[submodule "predef"]
	path = libs/predef
	url =  git@github.com:boostorg/predef.git
	fetchRecurseSubmodules = on-demand
[submodule "move"]
	path = libs/move
	url =  git@github.com:boostorg/move.git
	fetchRecurseSubmodules = on-demand
[submodule "container"]
	path = libs/container
	url =  git@github.com:boostorg/container.git
	fetchRecurseSubmodules = on-demand
[submodule "assert"]
	path = libs/assert
	url =  git@github.com:boostorg/assert.git
	fetchRecurseSubmodules = on-demand
[submodule "core"]
	path = libs/core
	url =  git@github.com:boostorg/core.git
	fetchRecurseSubmodules = on-demand
[submodule "throw_exception"]
	path = libs/throw_exception
	url =  git@github.com:boostorg/throw_exception.git
	fetchRecurseSubmodules = on-demand
[submodule "lexical_cast"]
	path = libs/lexical_cast
	url =  git@github.com:boostorg/lexical_cast.git
	fetchRecurseSubmodules = on-demand
